<footer class="site-footer">
    Copyright &copy; 2024 WinNvm
    <p class="text-left">
        <button class="btn js-toggle-dark-mode">Dark Mode</button>
    </p>
</footer>
<script>
    if (localStorage.getItem("color-scheme") === null) {
        const newColorScheme =
            window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
                ? "dark"
                : "light";
        const newTextScheme =
            window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
                ? "Light mode"
                : "Dark mode";
        jtd.setTheme(newColorScheme);
        localStorage.setItem("color-scheme", newColorScheme);
        localStorage.setItem("text-scheme", newTextScheme);
        window.addEventListener("load", function () {
            toggleDarkMode.textContent = newTextScheme;
        });
    } else {
        jtd.setTheme(localStorage.getItem("color-scheme"));
        window.addEventListener("load", function () {
            toggleDarkMode.textContent = localStorage.getItem("text-scheme");
        });
    }
    const toggleDarkMode = document.querySelector(".js-toggle-dark-mode");
    jtd.addEvent(toggleDarkMode, "click", function () {
        const newColorScheme = jtd.getTheme() !== "dark" ? "dark" : "light";
        const newTextScheme =
            jtd.getTheme() !== "dark" ? "Light mode" : "Dark mode";
        jtd.setTheme(newColorScheme);
        toggleDarkMode.textContent = newTextScheme;
        localStorage.setItem("color-scheme", newColorScheme);
        localStorage.setItem("text-scheme", newTextScheme);
    });
</script>
